<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiniProject1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16BDED401E4D07B300D624C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16BDED541E4D07B400D624C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16BDED5F1E4D07B400D624C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
